@model ITInventory.Models.HardwareItem

@{
    ViewData["Title"] = "Add a Hardware Item to inventory";
}

<h4>Hardware Item</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-area="Inventory" asp-controller="Inventory" asp-action="AddHardwareItem" id="hardwareItem-form" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InventoryId" class="control-label"></label>
                <input asp-for="InventoryId" class="form-control" />
                <span asp-validation-for="InventoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label">@Html.DisplayNameFor(m => m.Category)</label>
                <combobox asp-for="Category.Name" asp-items="@Model.Categories.Select(c => new SelectListItem(c.Name, c.Name))"  class="form-control"></combobox>
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer.Name" class="control-label">@Html.DisplayNameFor(m => m.Manufacturer)</label>
                <combobox asp-for="Manufacturer.Name" asp-items="@Model.Manufacturers.Select(m => new SelectListItem(m.Name, m.Name))" class="form-control"></combobox>
                <span asp-validation-for="Manufacturer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.Name" class="control-label">@Html.DisplayNameFor(m => m.Model)</label>
                <combobox asp-for="Model.Name" asp-items="@Model.Models.Select(m => new SelectListItem(m.Name, m.Name))" class="form-control"></combobox>
                <span asp-validation-for="Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="DateOfPurchase" class="control-label"></label>
                <input asp-for="DateOfPurchase" class="form-control" />
                <span asp-validation-for="DateOfPurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="WarrantyExpiration" class="control-label"></label>
                <input asp-for="WarrantyExpiration" class="form-control" />
                <span asp-validation-for="WarrantyExpiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportExpiration" class="control-label"></label>
                <input asp-for="SupportExpiration" class="form-control" />
                <span asp-validation-for="SupportExpiration" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RenewSupport" /> @Html.DisplayNameFor(model => model.RenewSupport)
                </label>
            </div>
            <hr />
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanTakeHome" /> @Html.DisplayNameFor(model => model.CanTakeHome)
                </label>
            </div>
            <div class="form-group form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RequiresApproval" /> @Html.DisplayNameFor(model => model.RequiresApproval)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PhysicalLocation.Name" class="control-label">@Html.DisplayNameFor(m => m.PhysicalLocation)</label>
                <combobox asp-for="PhysicalLocation.Name" asp-items="@Model.PhysicalLocations.Select(p => new SelectListItem( p.Name, p.Name))" class="form-control"></combobox>
                <span asp-validation-for="PhysicalLocation.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiptFiles" class="control-label"></label>
                <input asp-for="ReceiptFiles" type="file" multiple class="form-control-file invisible" />
                <div class="card" id="receipt-upload">
                    <div class="card-body btn align-middle" id="receipt-body">
                        <p class="text-center">Drop files here to upload.</p>
                    </div>
                    <ul class="list-group list-group-flush receipt-preview-list">
                    </ul>
                </div>
                <span asp-validation-for="ReceiptFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="hardwareItem-submitButton" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/UploadArea.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
